

#load-screen {
   background: url("../images_loading/header-back.png");
    position: fixed;
    z-index: 10000;
    top:0px;
    width: 100%;
    height: 1600px;
    
    }
    
   
    #loading {
    width: 500px;
    height: 500px;
    margin: 10% auto;
    background: url("../images_loading/loader.gif");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    }
    
    .pager li .active{
      background: #000!important;
      color: white;
    }

  


   

   
  